 body {
    font-family: Arial, sans-serif;
    background: rgb(207, 207, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration {
    width: 420px;
    background: white;
    padding: 18px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 7px;
    margin: 6px 0 12px 0;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 8px 15px;
    background: blue;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 3px;
}

button:hover {
    background: slateblue;
}

#successBox {
    margin-top: 12px;
    background: #d4f8d4;
    border-left: 5px solid green;
    padding: 10px;
    display: none;
    border-radius: 4px;
}

.deleteBtn {
    background: #d82d2d;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover {
    background: #c40000;
}